  {{ template "header" }}
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          <h1 class="page-header">Url Response Benchmark</h1>
          <h2 class="sub-header"><a href="{{.Url}}" target="_blank">{{.Url}}</a></h2>
        </div>
      </div>
    </div>
    <div id="urlDetailChart" style="height: 250px;"></div>
    <div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Response Time</th>
					<th>Status Code</th>
					<th>Date Created</th>
				</tr>
			</thead>
			<tbody class="records"></tbody>
		</table>
	</div>
  </div>
</body>

{{ template "footer"}}

<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<script type="text/javascript">
	$(function(){
	    var token = Cookies.get('gotcha_token')
		var compiled = _.template('<% _.forEach(records, function(record) { %>  <tr><td><%= record.Time %></td> <td><%= record.StatusCode %></td> <td><%= record.DateCreated %></td></tr><% }); %>');

	    $.get('/api/applications/{{.ApplicationId.Hex}}/urls/{{.Id.Hex}}?token='+ token, function(response){
	    	var records = JSON.parse(response);
	    	// Ad this data to table
	    	$('.records').append((compiled({'records': records})))
	
	    	// Collect chart data
	    	chartData = []
	    	$.each(records, function(i, url_record){
	    		chartData[i] = {
	    			date: url_record["DateCreated"],
	    			time: url_record["Time"]
	    		};
	    	});

	    	setTimeout(function(){
	    		new Morris.Line({
					// ID of the element in which to draw the chart.
					element: 'urlDetailChart',
					// Chart data records -- each entry in this array corresponds to a point on
					// the chart.
					data: chartData,
					// The name of the data record attribute that contains x-values.
					xkey: 'date',
					// A list of names of data record attributes that contain y-values.
					ykeys: ['time'],
					// Labels for the ykeys -- will be displayed when you hover over the
					// chart.
					labels: ['Response Time']
				});
	    	}, 100);
  		});
	});
</script>
